<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>tejas</display-name>
  <welcome-file-list>
    <welcome-file>inputForm.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
   
  </welcome-file-list>
  <servlet>
 <servlet-name>greet</servlet-name>
 <jsp-file>/greet.jsp</jsp-file>

 
  </servlet>
   <servlet-mapping>
   <servlet-name>greet</servlet-name>
   <url-pattern>/greet.jsp</url-pattern>
 </servlet-mapping>
</web-app>